* {
  margin: 0;
}

header {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#d68bc7, #e9d2e3);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.name {
  margin-top: 20px;
  text-align: center;
  font-size: 70px;
}

header h1 {
  position: relative;
  color: #2C2C54;
}

body {
  background: #a0e5ed;
  height: 100%;
}

h1 {
  font-family: "Lobster Two", cursive;
  margin-bottom: 5px;
  color: #2C2C54;
  font-size: 45px;
  /* text-align: center;  */
}

.header {
  height: 150px;
  color: #9D3D8A;
  font-size: 30px;
}

.self {
  display: block;
  width: 20%;
  float: left;
  border-radius: 50px;
  margin-right: 10px;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  padding: 10px;
  color: #9D3D8A; 
}

section {
  margin: 15px;
}

a {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  padding: 10px;
  color: #d68bc7;
}

a:hover {
  color: #9D3D8A;
  font-size: 28px; 
}
