* {
  margin: 0;
}

header {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#c585b3, #e9d2e3);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.name {
  margin: 0;
  text-align: center;
  font-size: 70px; 
}

header h1 {
  position: relative;
  color: #59114d;
}

body {
  background: #A0E5ED;
  height: 100%;
}

h1 {
  font-family: "Lobster Two", cursive;
  margin: 0;
  color: #59114d;
}

img {
  display: block;
  width: 20%;
  float: left;
  margin: 10px;
}

.header {
  height: 150px;
  color: #59114d;
  font-size: 30px;
}

.self {
  border-radius: 50px;
}

p {
  font-family: "Comfortaa", cursive;
}
